src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wd-connector="http://www.mulesoft.org/schema/mule/wd-connector" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"  
	xmlns:wd-revenue="http://www.mulesoft.org/schema/mule/wd-revenue" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/wd-revenue http://www.mulesoft.org/schema/mule/wd-revenue/current/mule-wd-revenue.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/wd-connector http://www.mulesoft.org/schema/mule/wd-connector/current/mule-wd-connector.xsd">
    <flow name="retrieveProspectFlow">
        <dw:transform-message doc:name="Prepare GetProspectsRequest">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Prospects_Request: {
		ns0#Request_Criteria: {
			ns0#Prospect_ID: payload
		},
		ns0#Response_Group: {
			ns0#Include_Reference: true,
			ns0#Include_Prospect_Data: true
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <wd-connector:invoke config-ref="Workday_Basic" type="Revenue_Management||Get_Prospects" doc:name="Get Prospects from Workday"/>

        <dw:transform-message doc:name="XML response to Map">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 urn:com.workday/bsvc
---
payload.ns0#Get_Prospects_Response.ns0#Response_Data.*ns0#Prospect map {
	Name       : $.ns0#Prospect_Data.ns0#Prospect_Name,
	Website    : $.ns0#Prospect_Data.ns0#Contact_Data.ns0#Web_Address_Data[0].ns0#Web_Address,
	Phone      : $.ns0#Prospect_Data.ns0#Contact_Data.ns0#Phone_Data[0].ns0#Phone_Number,
	PostalCode : $.ns0#Prospect_Data.ns0#Contact_Data.ns0#Address_Data.ns0#Postal_Code
} when payload.ns0#Get_Prospects_Response.ns0#Response_Data.*ns0#Prospect != null otherwise []]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Workday retrieved data: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="updateAccountFlow">
        <logger message="Updating Salesforce account: #[payload]" level="INFO" doc:name="Logger"/>
        <sfdc:update config-ref="Salesforce" type="Account" doc:name="Salesforce">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:update>
        <logger message="SFDC account update response: #[payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>

</mule>
